@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
  margin: 0;
  
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.pai {
  background-color: #1a4697;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3em;
  align-items: center;
  text-align: center;
  border-bottom: 4px;
}

@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
 }
}  

.1 {
  grid-column: 3;
}

.2 {
  grid-column: 2;
}

.logo {
  grid-column: 1;
  background-image: url(../img/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 12vh;

}

.3 {
  grid-column: 4;
}

.4 {
  grid-column: 5;
}

.navLinks {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.navLinks:hover {
  color: rgb(221, 54, 54);
  border-left: 1px solid rgb(221, 54, 54);
  border-right: 1px solid rgb(221, 54, 54);
  padding: 1em 1em;
}

#twist {
  color: blue;
}

#bemvindo {
  font-size: 4em;
  padding-top: 20px;
}

#frase-init {
  font-size: 2em;
}


 .header-site  {
    background-image: url(../img/back2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    color:#faf6f6;
    padding-top: 300px;
    padding-bottom: 300px;  
 }

 .header-site p {
  font-size: 10px;
 }

 .content-site {
     padding-top: 200px;
     padding-bottom: 200px;
     
 }
 .col-sm-4 p{
   padding:20px auto;
 }

 .text-center {
   justify-content: center;
   padding: 20px;
 }



 .text-center h3 {
    margin-right: 90px;
 }

 .img-site {
     background-image: url(../img/paises.jpg);
     background-position: center top;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     padding-top: 100px;
     padding-bottom: 100px;

 }

 .img-site h1 {
   font-size: 50px;
   color: rgb(250, 240, 240);
 }

 .img-site p {
  font-size: 50px;
  color: rgb(245, 237, 237);
}

.thumbnail p {
  padding-top: 20px 20px;
}

.thumbnail img {
  height: 350px;
  padding:35px;
}

 .footer-site {
     color: gray;
     padding-top: 50px;
     padding-bottom: 50px;
 }

 .row {
    position: relative;
    display: flex;
    overflow: hidden;
 }

 .footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
  margin:auto;
  
  
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
  padding: 25px;
}

.footer-dark ul {
  padding:30px 30px;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
  margin-right: 20px;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

.footer-dark ul p {
  margin: auto;
  font-size: 14px;
}

.footer-dark img {
  margin-left: 20px;
}



@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.icone {
  margin: 0px auto;
  padding: 35px;
  width: 80px;
}

.fa {
  padding: 20px;
  font-size: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  
}

.fa:hover {
  opacity: 0.7;
}



https://epicbootstrap.com/snippets/footer-dark